@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
img {
  width: 100%;
}

body {
  width: auto;
  position: relative;
  font-size: 14px !important;
  font-family: "Merriweather", serif !important;
  line-height: 1.6 !important;
  letter-spacing: 0.6px !important;
}

.main-body {
  padding: 0 20px !important;
}

a {
  text-decoration: none !important;
}

.page-not-found {
  width: 80vw;
  min-height: 300px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff !important;
}

.textarea:focus {
  border-color: inherit !important;
}
